// https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,1000,3000,4000,5000,7000,9001,1001,3001,4001,5001,7001,900&display=swap

@font-face {
    font-family: 'HACKED';
    src: url('fonts/subset-HACKED.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GL-NovantiquaMinamoto';
    src: url('fonts/subset-GL-NovantiquaMinamoto.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator';
    src: url('fonts/subset-PixelOperator-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator HB 8';
    src: url('fonts/subset-PixelOperatorHB8.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator 8';
    src: url('fonts/subset-PixelOperator8-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator HB SC';
    src: url('fonts/subset-PixelOperatorHBSC.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator HB';
    src: url('fonts/subset-PixelOperatorHB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator 8';
    src: url('fonts/subset-PixelOperator8.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono';
    src: url('fonts/subset-PixelOperatorMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator';
    src: url('fonts/subset-PixelOperator.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono 8';
    src: url('fonts/subset-PixelOperatorMono8.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono';
    src: url('fonts/subset-PixelOperatorMono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono 8';
    src: url('fonts/subset-PixelOperatorMono8-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono HB 8';
    src: url('fonts/subset-PixelOperatorMonoHB8.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator SC';
    src: url('fonts/subset-PixelOperatorSC.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator SC';
    src: url('fonts/subset-PixelOperatorSC-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono HB';
    src: url('fonts/subset-PixelOperatorMonoHB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
